<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>TinyApp</h1>
    <h2>
    <a href="/">Home </a> <br/>
    <a href="/urls">URL Index</a> <br/>
    </h2>
  </head>
  <body style="font-rsize:20px; padding:50px;">
    <form action="/login" method="POST" 150px;">
      <label for="emailLogin">Enter Email for login:</label>
      <input type="email" id="emailLogin" name="emailLogin" style="width: 150px"><br/>
      <label for="passLogin">Enter password:</label>
       <input type="password" id="passLogin" name="passLogin" style="width: 300px"><br/>
      <input type="submit" value="login">
    </form>
  </body>
</html>



